[2018-07-12 12:52] ewels opened #4 "Use bowtie 1 for human genome alignment"
Moved from https://github.com/SciLifeLab/NGI-smRNAseq/issues/3

---

Probably shouldn't have put Bowtie 2 into the latest change.

Need to read this paper and take on advice:
http://bib.oxfordjournals.org/content/16/6/950.full

----
@zhenyisong:
There is another paper regarding the same issue, "Evaluation of microRNA alignment techniques". PMID: 27284164.

[2018-07-12 12:53] ewels opened #5 "Think about mapping against hairpin only"
Moved from https://github.com/SciLifeLab/NGI-smRNAseq/issues/31

---

Marc thinks that mapping again only hairpin miRBase reads could be a better approach:

* Map against hairpin only
  * Check mapping within the mature region
  * Allow overlap of 1bp at 5' end
  * Allow 2 bp overlap at 3' end
* Treat the 5' and 3' arm alignments separately
* Allow a single mismatch in mapping

Remove samtools and

[2018-07-12 12:55] ewels opened #6 "Add option for sequencing centre in BAM file"
Moved from https://github.com/SciLifeLab/NGI-smRNAseq/issues/35

---

## Bowtie 1
Output options:
`--sam-RG <text>`
Add `<text>` (usually of the form `TAG:VAL`, e.g. `ID:IL7LANE2`) as a field on the `@RG` header line. Specify `--sam-RG` multiple times to set multiple fields.
`--sam-RG` is ignored unless `-S`/`--sam` is also specified.

## Bowtie2

SAM options: `--rg <text>`

Add `<text>` (usually

[2018-08-06 14:27] chuan-wang commented on #5
This will require large scale rewriting of the pipeline, and I could even foresee questions why not just do alignment against mature miRNAs since they are of high research interest compared with miRNA precursors. Based discussions (publications) in https://github.com/SciLifeLab/NGI-smRNAseq/issues/32, the current alignment parameters are robust. Therefore personally I would suggest keep the alignm

[2018-08-07 08:16] chuan-wang commented on #6
The default output format from Bowtie 1 is flat text. Therefore we will need the `-S` option to generate sam/bam files. Unfortunately it is conflict with the option `--sam-RG`.

[2018-08-07 11:46] apeltzer opened #7 "Add a DOI on first release"

[2018-08-08 12:20] chuan-wang commented on #4
Fixed in PR https://github.com/nf-core/smrnaseq/pull/9

[2018-08-09 07:19] MaxUlysse opened #10 "Add usage documentation"
cf #8

[2018-08-09 12:02] chuan-wang commented on #10
Hi Maxime, I have fixed all documents in the PR https://github.com/nf-core/smrnaseq/pull/9.

[2018-08-09 12:10] MaxUlysse commented on #10
Toppen, you should mention closes #10 in your PR so this issue will be automatically closed

[2018-08-09 12:12] chuan-wang commented on #10
Aha, OK! Didn't know this trick

[2018-08-10 08:59] chuan-wang commented on #10
fixed in PR https://github.com/nf-core/smrnaseq/pull/9

[2018-09-25 14:04] sven1103 opened #11 "Prepare for nf-core sync"
In order to get synced with the nf-core template, this repo needs to be prepared accordingly as described in the [nf-core documentation](http://nf-co.re/sync).

[2019-02-14 14:10] ewels opened #12 "Look in to using MirGeneDB"
Potential alternative to using miRbase - instead the curated http://mirgenedb.org/

[2019-02-28 08:18] #4 closed

[2019-02-28 08:18] #6 closed

[2019-02-28 08:19] #10 closed

[2019-06-20 21:19] lpantano opened #17 "create TEMPLATE branch"
hi,

This is the template I have in my branch done with nf-core 1.6. Should I just push the TEMPLATE branch to the smrnaseq pipeline since there is no branch right now?

https://github.com/lpantano/smrnaseq/tree/TEMPLATE

[2019-06-22 11:21] apeltzer commented on #17
Yes! You could do that, to get this going! Thanks a bunch for working on this!

[2019-06-24 18:29] lpantano commented on #17
ok! done: https://github.com/nf-core/smrnaseq/tree/TEMPLATE

[2019-06-24 21:07] drpatelh commented on #17
Based on what it says here: https://nf-co.re/developers/sync
"Follow the prompts to fill in the pipeline name, description and author(s). Make sure that you take the exact text that you already have already used in your pipeline's nextflow.config file (manifest.name etc.), if these have already been written."

In `nextflow.config`, the `manifest.author` and `manifest.description` fields arent the

[2019-07-29 20:02] drpatelh commented on #17
I believe you have done this now :+1:

[2019-07-29 20:02] #17 closed

[2019-07-29 20:03] drpatelh commented on #11
I believe you have done this now :+1:

[2019-07-29 20:03] #11 closed

[2019-09-21 09:11] #7 closed

[2019-09-21 09:19] drpatelh commented on #7
Still need to add this to the main `README` no?

[2019-09-21 09:20] apeltzer commented on #7
I did cheat and add it after making the release manually...

[2019-10-27 12:10] apeltzer opened #30 "Migrate badge to travis-ci.com"
We've been migrating this over to travis-ci.com (as all travis-ci.org repositories will be shutdown at some point). Please update the badge in the readme accordingly :-)

[2019-10-30 13:46] lpantano commented on #30
mm, I see the link to be pointing to `.com` in the README, is this in other place I cannot find? sorry.

[2019-10-31 10:49] apeltzer commented on #30
Yeah everything else will be coming in via the TEMPLATE sync.

I just opened this everywhere where we migrated over from Travis-Ci.org to Travis-Ci.com, so nevermind then 👍

[2019-10-31 10:49] #30 closed

[2019-12-19 21:10] mshulewitz opened #31 "edgeR_mirna error"
Running smrnaseq on an AWS EC2 (Ubuntu 18.04, 64 GB memory, 16 cpu) with the following command line:

[code]

gives the following error:

[code]

Running `edgeR_miRBase.r` locally also gives same error.

[2019-12-20 18:21] lpantano commented on #31
Hi,

I think something is wrong with the input. Can you go into the working folder and check the input files, if they are not empty?

maybe try to run the R script in an interactive version helps more as well.

[2019-12-20 19:32] mshulewitz commented on #31
I pulled the test fastq and reference files using the paths in test.config and rerun with the following command line and was successful:

nextflow run nf-core/smrnaseq -r 1.0.0 -profile docker \
--reads 'fastq_repo/sample_*' \
--max_memory '60.GB' \
--mature 'smrnaseq_ref/mature.fa' \
--hairpin 'smrnaseq_ref/hairpin.fa' \
--bit_index 'reference/genome' \
--fasta 'smrnaseq_ref/genes.gtf' \
--gtf 's

[2020-01-09 12:19] lpantano commented on #31
Ah, ok, I see the error, it is only one sample the problem…I would need to
take a look into the R code exactly to know why. (Sorry for the delay I
have been away until now.)

From: mshulewitz <notifications@github.com> <notifications@github.com>
Reply: nf-core/smrnaseq
<reply@reply.github.com>
<reply@reply.github.com>
Date: December 20, 2019 at 2:32:58 PM
To: nf-core/smrnaseq <smrnaseq@noreply.git

[2020-01-14 15:40] shashwatsahay commented on #12
Can I already use this by providing the --mature, --harpin --mirna_gtf from MirGeneDB?

[2020-01-14 15:44] shashwatsahay opened #32 "Adding support for detection of novel miRNA, also alignment against piRNA"
Will this something you will be adding in the future?

I am currently working on this part.

[2020-01-14 21:20] lpantano commented on #12
Hi, I am not sure it will work as it is since the format is a little bit
different, but I never tried. If you can help with the integration, it will
be great!

From: Shashwat Sahay <notifications@github.com> <notifications@github.com>
Reply: nf-core/smrnaseq
<reply@reply.github.com>
<reply@reply.github.com>
Date: January 14, 2020 at 10:40:53 AM
To: nf-core/smrnaseq <smrnaseq@noreply.github.com>
<s

[2020-01-14 21:20] lpantano commented on #32
If you work on this, it would be great, not support yet.

[2020-01-15 14:16] KevinMenden opened #33 "Documentation and code don't match for 'cats' protocol"
Hi,

just found a tiny issue - the adapter sequence for the 'cats' protocol in the code and in the documentation don't match. It's uncommented in the code, see line 107 in main.nf

Small issue but can lead to some frustration I imagine.

Cheers,
Kevin

[2020-01-15 15:15] lpantano commented on #33
If you have the PR, go ahead, it should say something like this under the adapter column, that way it appears at your contribution directly :)

`AAAAAAAAAAA + GATCGGAAGAGCACACGTCTG (only polyA is used for trimming)`

[2020-01-16 06:42] KevinMenden commented on #33
Well you can hardly call that a contribution, but I made the PR anyway :-) #34

[2020-01-16 06:42] #33 closed

[2020-02-07 08:21] fedeago opened #35 "Error in the collapse process"
Hi, thanks for your work. I'm tring to run this pipeline but it stop with the following error.
[code]
i use that pipeline with this configuration:

`~/nextflow run nf-core/smrnaseq --reads '../cleaned/*.umitransformed.clean.fq.gz' --min_length 17 --genome 'GRCh37' --skipQC -profile singularity`

How could i resolve this problem?

[2020-02-07 10:09] ewels commented on #35
Hi @fedeago,

What version of Nextflow are you using? Could you please post the `.nextflow.log` file from the run?

Phil

[2020-02-07 10:34] fedeago commented on #35
I have't the .nexflow.log file. I use it with slurm, and the reads that i use are already trimmed. I can post the slurm.out file with the standard output of the pipeline. The version of nextflow is 19.10.0.

[2020-02-07 10:57] ewels commented on #35
It looks like the problem is the `prefix = reads.baseName` bit. I guess it works when there is only one file in the `collapsed_fasta` channel, but it's breaking here because there is more than one fastq being generated by the `seqcluster collapse` process for some reason.

@lpantano could you have a look at this please? Am I right?

Phil

[2020-02-07 11:00] fedeago commented on #35
[slurm.txt](https://github.com/nf-core/smrnaseq/files/4170380/slurm.txt)

[2020-02-08 23:16] lpantano commented on #35
@ewels you are right, it is detecting UMIs and creating two files, I will work on the fix on Monday.

[2020-02-12 15:50] MaxUlysse opened #37 "Changelog mentions duplicate releases"
Also according to CHANGELOG, there is already two `1.0` releases, on top on the `1.0.0`, but the `SciLifeLab/NGI-smRNAseq` has none...

I think it should be bumped to the next `dev`, and the matter of the old `1.0` should be fixed.

[2020-02-24 15:29] lcabus opened #40 "Error in the edgeR_mirna process"
Hi! I was trying to run this pipeline with some miRNA data, but I encountered the following error.

Error executing process > 'edgeR_mirna'

Caused by:
  Process `edgeR_mirna` terminated with an error exit status (1)

Command executed:

  edgeR_miRBase.r Plasma_S1_L001_R2_001.hairpin.stats Plasma_S1_L001_R2_001.mature.stats Plasma_S1_L001_R1_001.mature.stats Plasma_S1_L001_R1_001.hairpin.stats

Co

[2020-02-24 15:32] lpantano commented on #40
Hi,

I don’t know if it is related, but this pipeline only works with singleEnd
reads. And there is an existing error when only one sample is going through
the pipeline as far I remember.

sorry.

[2020-02-24 15:44] lluccabus commented on #40
Okay, I suppose that was the problem then.

Thank you

[2020-02-24 22:35] sirselim opened #41 "User provided --three_prime_adapter is not recognised"
When running on several small RNASeq data sets we have in house no miRNA are being detected. Upon inspecting the trimmed files they are all in the order of ~80Kb in size, and checking the trimming logs the issue is that the adapter being used isn't the one provided by the user.

This is the command being used:
[code]
However the adapter being reported in the trimming output is `TGGAATTCTCGGGTGCCAA

[2020-02-25 11:53] lluccabus commented on #40
Hi,
I'm sorry that I closed the issue and have to reopen it again.

I tried again with 3 samples with singleEnd reads and the error remains, it happens in the ``edgeR_miRBase.r``.

I post the .command.err:

Loading required package: limma
Loading required package: edgeR
Loading required package: statmod
Loading required package: data.table
Loading required package: gplots

Attaching package: ‘gplo

[2020-02-25 13:57] lpantano commented on #40
Hum, normally I got into the working directory and run one by one line the
scripts to see what is the issue. If you can send me the input files you
see in that folder I can try to reproduce. It seems the miRNA
quantification is not working properly :s

[2020-02-25 13:59] lpantano commented on #41
hum, can you try with the original code and `--protocol custom --three_prime_adapter AGATCGGAAGAGC`, I think by default is illumina so it is ignoring the adapter if protocol is not set up to something else. Let us know when you try this.

[2020-02-25 20:53] sirselim commented on #41
hmm, I thought that had fixed it and had started making a pull request to suggest adding that information to the documentation (there is no indication that `custom` is an option). However, when I checked back in on the pipeline it had exited with errors.

Upon inspection it seems that `--protocol custom` isn't an option that is accepted by miRtrace:

[code]

I haven't come across miRtrace before (

[2020-02-26 23:04] lpantano commented on #41
Maybe something like this would be a little bit better:

primer = (protocol==“cats” or protocol==“custom”) ? " " : " --adapter
$three_prime_adapter “

And not to remove the protocol lines.

Does that works?

[2020-02-27 01:36] sirselim commented on #41
I'm not at all familiar with NextFlow, so am probably doing something wrong, but your suggestion didn't work (most likely a syntax issue on my end):
[code]
I still struggle to see how the suggested fix will happily pass to through miRtrace as "custom" won't be recognised as a protocol., right?

[2020-02-27 12:45] lpantano commented on #41
sorry you are right, we need a new line that put only protocols when is custom. I need to test it, something like this:

[code]

and then:

[code]

[2020-02-27 16:01] lluccabus commented on #40
Hi,
After some digging I found that there was a file giving some problems, after getting rid of this file everything worked fine.

Thanks

[2020-02-28 00:12] sirselim commented on #41
Nice, I made those changes and have run a test set through - everything seems to be working as expected. Would you like me to make a pull request or would you prefer to do it and do some more testing?

[2020-02-28 21:49] lpantano commented on #41
yes, do the PR please. It will take some time to merge because we need to update the TEMPLATE branch to the last version, but is good the PR is there. Probably the test will fail but not because your changes. :)

[2020-03-01 23:38] sirselim commented on #41
OK, done - see pull request #42.

I also added a little more documentation making it clearer that `--protocol custom` is an option.

I think there is another 'issue' that needs addressing in terms of maybe just clearer documentation around user provided arguments. It's not clear that when using a defined `--protocol` other trimming arguments are not evaluated, i.e. if using `--protocol illumina` a

[2020-03-03 10:22] #40 closed

[2020-03-03 21:05] mlist opened #43 "Add takarabio SMARTer smRNA-Seq Kit profile option"
This could be a useful addition for the profiles, which could be named 'smart', for instance.

In their [documentation](https://www.takarabio.com/assets/documents/User%20Manual/SMARTer%20smRNA-Seq%20Kit%20for%20Illumina%20User%20Manual_121219.pdf
), Takara provides settings for cutadapt which I think translate to the following settings in trimgalore config for the pipeline:

[code]

I will test th

[2020-03-18 16:01] lcabus-flomics opened #44 "Problems with miRTrace output"
Hi,
I was running the pipeline with 40 samples and everything worked well, but at the end I didn't obtain the mirtrace files (mirtrace-report.html, mirtrace-results.json, etc.), I only obtained the qc_passed_reads.all.collapsed and qc_passed_reads.rnatype_unknown.collapsed.
Nonetheless, the pipeline was completed successfully and I think that there are no other errors. When I run the pipeline only

[2020-03-23 10:09] shashwatsahay commented on #44
This used to happen with me, were you running on a cluster if yes then you should in the cluster config file, assign more memory to processes

[2020-03-24 15:31] lcabus-flomics commented on #44
Hi, I tried assigning more memory in general and specifically in the miRTrace process, but it still failed. I finally installed miRTrace and run it that way, but still the problem is still there. How many memory did you use? I have a put as a maximum amount of resources 200GB and 16 cpus.

[2020-03-24 15:36] shashwatsahay commented on #44
Can you share the log files?
it would be something like .nextflow.log

[2020-03-25 15:54] lcabus-flomics commented on #44
Hi, sorry, I was doing some tests and I had to rerun the pipeline.

[nextflow.log](https://github.com/nf-core/smrnaseq/files/4381822/nextflow.log)

in the .command.log in the miRTrace work dir I have:
_miRTrace version 1.0.0 starting. Processing 40 sample(s)._

The .command.err contains exactly the same:
_miRTrace version 1.0.0 starting. Processing 40 sample(s)._

[2020-04-27 23:20] bazelep opened #48 "adding coreutils/realpath"
Hello,
When I run nf-core/smrnaseq revision 1.0.0 the mirtrace steps fail due to missing "realpath" command. Could perhaps coreutils be added to the conda environment for installation?
Thank you,
Peter Bazeley

[2020-07-05 12:15] pfeiferl opened #49 "Adding UMI-tools"
Hi all!
Firstly I would like to thank you for this awesome work. Secondly I have a request:
Please is it possible to add UMI-tools to environment (docker) to allow work with umi's?
Thank you for answer

[2020-07-21 21:05] mjsteinbaugh opened #50 "edgeR_mirna step failing on samples with low mature mapping rate"
v1.0.0 of the pipeline is erroring out at the edgeR_mirna step, due to some samples with low mature mapping rate. @lpantano any ideas here?

Happy to help debug this and provide some example files.

[code]

[2020-07-21 21:05] mjsteinbaugh commented on #50
See related issue #40

[2020-07-21 21:07] mjsteinbaugh commented on #50
Here's the command used for the run:

[code]

[2020-10-23 23:45] reubenthomas opened #53 "Unable to pull singularity image"
I am attempting to pull an image of the smrnaseq pipeline on a compute cluster that uses sge and getting an error (see below) that I am unable to figure out the way around. Any pointers would be helpful. Thanks.

[code]

[2020-11-07 00:07] ewels commented on #53
Hi @reubenthomas,

These kinds of singularity errors are tricky to track down and are often fairly system-specific. When I hit things like this I typically try pulling the image manually on a compute node. That solves it 90% of the time. You can just copy the command in the error message:

[code]

Then run the pipeline using `-with-singularity path/to/nfcore-smrnaseq-1.0.0.img` (or better still, s

[2020-11-07 00:07] #53 closed

[2020-11-07 07:07] ewels commented on #41
PR merged to dev: https://github.com/nf-core/smrnaseq/pull/42

Change also included in the bigger update PR: https://github.com/nf-core/smrnaseq/pull/55

[2020-11-07 19:50] ewels commented on #49
I think this would be a great addition 👍🏻  If you have any details (kits used for example), that would be helpful.

[2020-11-07 19:57] ewels opened #56 "Set up AWS megatests"
AWS megatests is now running nicely and we’re trying to set up all (most) nf-core pipelines to run a big dataset. We need to identify a set of public data to run benchmarks for the pipeline.

The idea is that this will run automatically for every release of the nf-core/smrnaseq pipeline. The results will then be publicly accessible from s3 and viewable through the website: https://nf-co.re/smrnase

[2020-11-09 11:33] ewels commented on #49
QIAGEN kit details: https://resources.qiagenbioinformatics.com/manuals/biomedicalgenomicsanalysis/current/index.php?manual=Create_UMI_Reads_miRNA.html

![structure](https://resources.qiagenbioinformatics.com/manuals/biomedicalgenomicsanalysis/current/miRNAoriginalstructure.png)

[2020-11-09 12:42] pfeiferl commented on #49
Hi, I am using that QIAGEN kit you found (btw. for few people would be handy that that common sequence is qiagen adapter sequence).
But using umi-tools in smrnaseq pipeline i found a tricky thing - using umi-tools extract and dedup and then on deduplicated reads mirtop tools, leads to loose a lot of information due mirtop deduplication process (and in some cases in loosing ALL reads because are so

[2020-11-09 13:50] pcantalupo commented on #49
@pfeiferl to be clear for future readers of the thread, that is the 3' adapter sequence as described in the [Qiagen miRNAseq manual] (https://www.qiagen.com/us/resources/resourcedetail?id=f0b9d117-f8c6-4825-9069-3236ed65521d) on page 53 (07/2020 version) and specified on [these lines](https://github.com/nf-core/smrnaseq/blob/a115116a06ad274b475834316d0193e1b756b249/main.nf#L100-L104) in the pipeli

[2020-11-09 14:15] pfeiferl commented on #49
@pcantalupo you are correct

And umi extract: Yes, I am using regex - firstly the raw fastq files must NOT have trimmed adapter, you are searching for umi after it.
`umi_tools extract --stdin=in.fastq.gz --stdout=out.fastq.gz --extract-method=regex --bc-pattern='.+AACTGTAGGCACCATCAAT{s<=2}(? P<umi_1>.{12})(?P<discard_2>.*)' `
.+ means lett all before this sequence (AACTGTAGGCACCATCAAT) for use
{s<

[2020-11-09 22:56] lpantano commented on #56
can we use this one: https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE97285

[2020-11-10 13:19] ewels commented on #49
Note that the main `nf-core/rnaseq` pipeline already supports UMI tools: https://github.com/nf-core/rnaseq/pull/435/files#diff-6401496ba455b9488ffa902a6e4d7732b2c60ff2d77c5c3ef96b28a7ac7d3b28R1023

The rnaseq pipeline has just moved to DSL2, meaning that this functionality has been ported to `nf-core/modules`: https://github.com/nf-core/modules/tree/master/software/umitools

Once the DSL2 stuff se

[2020-11-11 11:27] #41 closed

[2020-11-11 11:36] ewels commented on #56
Looks great!

<details>

<summary><code>download.sh</code></summary>

[code]

</details>

[2020-11-11 11:36] ewels commented on #56
I'll get onto syncing this to s3 ASAP

[2020-11-12 00:25] ewels commented on #56
ok, data is now on s3 - should be able to see it here: https://nf-co.re/smrnaseq/dev/results#smrnaseq/input_data/

[2020-12-04 08:17] sdjebali opened #60 "Error with singularity profile"
Dear all,

I am trying to run the pipeline on 4 small rnaseq fastq files from pig using a singularity profile.

However I am getting this error message very early on:

[code]

and a bit before I had this

[code]

This is the bash script I sent to our slurm cluster

[code]

Do you see what the problem could be?

Best,
Sarah

EDIT: code block

[2020-12-09 09:55] #60 closed

[2020-12-09 09:57] MaxUlysse commented on #60
Needed to download the singularity file beforehand.
And to be sure that the name was the one expected by the config file.
Maybe we can specify that somewhere in the docs (cf @nf-core/core)

[2020-12-18 14:05] sdjebali opened #62 "bowtie_indices not working with downloaded mature and hairpin fa.gz file"
When using the dev branch code of Dec 10th 2020 with

`--fasta sus_scrofa_11.1.fa --mirtrace_species ssc`

bowtie_indices process fails with

`gzip: mature.fa.gz: Too many levels of symbolic links`

I will take care of fixing this issue

[2021-02-10 22:19] ewels opened #64 "Make sample name cleaning regex configurable"
A bunch of steps in the pipeline attempt to clean off common filename suffixes to give nicer sample names, eg:

https://github.com/nf-core/smrnaseq/blob/a115116a06ad274b475834316d0193e1b756b249/main.nf#L428

1. `(.R1)?` should probably be `(\.R1)?` as the `.` alone is a wildcard matching any character
2. This regex should be kept as a `params` variable to avoid repeating, and to make it configurab

[2021-02-12 13:52] ewels commented on #37
Release version now appears to be bumped in `dev`, but the changelog should definitely only mention the main nf-core releases, so that needs cleaning up..

[2021-02-24 12:34] #37 closed

[2021-03-04 19:46] zeehio opened #68 "mirtrace tries to allocate half of the installed RAM"
mirtrace can be executed in two ways: with the `mirtrace` wrapper script or calling the jar directly (`java -jar mirtrace.jar...`).

mirtrace requires a large amount of heap allocated on the java virtual machine. Its README states that the wrapper script sets the heap to half of the RAM of the system. For custom heap values, they suggest to not use the wrapper script and call the jar directly. See

[2021-03-16 16:37] apeltzer opened #70 "SMrnaseq: Convert usage docs to JSON schema"
Hi!

this is not necessarily an issue with the pipeline, but in order to streamline the documentation group next week for the hackathon, I'm opening issues in all repositories / pipeline repos that might need this update to switch from parameter docs to auto-generated documentation based on the JSON schema.

This will then supersede any further parameter documentation, thus making things a bit eas

[2021-04-12 10:37] ewels commented on #70
@ErikDanielsson - this is another good one for you. Use `nf-core schema build .` to create and customise a schema (can run it as many times as you like). You then need to copy out the existing descriptions / help text from the `main.nf` cli help text and `usage.md`. Then delete all of the parameter docs from those two files.

Bit fiddly, but mostly copy and paste 👍🏻

[2021-04-14 07:14] ewels commented on #70
I take it back sorry, this is already done on `dev`. Can see the docs here: https://nf-co.re/smrnaseq/dev/parameters

[2021-04-14 07:14] #70 closed

[2021-04-16 14:43] zeehio opened #76 "--max_cpus default value overrides"
This line:

https://github.com/nf-core/smrnaseq/blob/a115116a06ad274b475834316d0193e1b756b249/nextflow.config#L132

Combined with:

https://github.com/nf-core/smrnaseq/blob/a115116a06ad274b475834316d0193e1b756b249/conf/base.config#L43

Makes it that when I run the pipeline with a `nextflow.config` like:

[code]

The limit is still 16 cores.

Should I then specify the limit twice for it to be appli

[2021-04-19 11:56] DwinGrashof opened #77 "Cannot change Trimgalore max_length parameter"
When investigating other smallRNAs one might want to increase the max_length of trimgalore, so that reads > 40bp are not thrown out. However, this is not possible in the current 1.,0.0 version of the smrnaseq pipeline. In the main.nf script the `max_length` is hardcoded as 40 bp into the script, making it impossible to change this parameter.

I changed the hardcoded bit of trimgalore, and added a

[2021-05-06 07:41] KevinMenden commented on #76
Hi @zeehio, the base config overwrites the stuff in the nextflow config ( I think :thinking: )

So alternative would be to make an extra little config `my_config.config` , put that process definition in there and load it with `-c my_config.config` when running the pipeline.
The other alternative would be to use `--max_cpus 25` when running the pipeline, that should overwrite it, too.

Sorry for th

[2021-05-06 07:43] KevinMenden commented on #68
Hi @zeehio ,

I'm going to fix some bugs in the pipeline now anyway, which are also related to mirtrace, so I might as well take a shot at this issue. Thanks for reporting!

Don't have much hope for your PR over at mirtrace, seeing how little maintenance this tool seems to get :/

Cheers,
Kevin

[2021-05-06 07:44] KevinMenden commented on #77
Thanks for reporting @DwinGrashof , I'll have a look at it! :+1:

[2021-05-06 07:47] KevinMenden opened #80 "Not possible to use custom trimming profile"
It is currently not possible to use a custom trimming profile/protocol because the `mirtrace` process takes the protocol parameter as an internal argument.

[2021-05-07 07:38] KevinMenden commented on #80
fixed in dev

[2021-05-10 05:04] KevinMenden commented on #68
Ah, thanks! Good catch .... 🤦 will fix that today

[2021-05-11 08:01] #68 closed

[2021-05-11 08:01] #77 closed

[2021-05-14 13:51] jacorvar opened #88 "trimming options ignored"
Hi,
I'd like to point out that at least part of the trimming options are not properly recognised.
When I set `--clip_R1 4 --three_prime_clip_R1 4`, I got on the screen the following:
[code]

So it seems it ignored the trimming arguments. Did I miss something?

Thanks

[2021-06-04 09:31] LucaGiudice commented on #88
I have the same doubt/problem. The protocol options override any user-defined parameter regarding the trimming.

[2021-06-30 12:25] #76 closed

[2021-06-30 12:26] KevinMenden commented on #88
This should be solved by the new pipeline release

[2021-06-30 12:26] #88 closed

[2021-07-07 13:32] cguyomar opened #94 "Inconsistencies in hairpins aligned read numbers"
Hi!

## Check Documentation

I have checked the following places for your error:

- [x] [nf-core website: troubleshooting](https://nf-co.re/usage/troubleshooting)
- [x] [nf-core/smrnaseq pipeline documentation](https://nf-co.re/nf-core/smrnaseq/usage)

## Description of the bug

In the multiqc report, the number of reads aligned to the hairpin database differs slightly from the number of reads tha

[2021-07-08 21:25] KeyTals opened #95 "Allow "--userns" when running singularity"
Hi there!

Thanks for suggesting a new feature for the pipeline!

Is there any way to provide "--userns" which running singularity? On our HPC clusters we need to provide "--userns" to run singularity, Is there any way we can provide this as config or directly as option?

Thanks,
Keyur

[2021-07-14 10:19] marchoeppner opened #98 "edgeR_mirna - argument is of length zero"
## Description of the bug

Running v1.1 of the pipeline on 80 samples (R1 of a paired-end Novaseq run with Nextflex):

Getting this in the edgeR_mirna step:

`
Command error:
  Loading required package: limma
  Loading required package: edgeR
  Loading required package: statmod
  Loading required package: data.table
  Loading required package: gplots

  Attaching package: ‘gplots’

  The following

[2021-07-15 07:54] marchoeppner commented on #98
This is apparently solved in a pending PR: https://github.com/nf-core/smrnaseq/pull/93

[2021-07-15 07:54] #98 closed

[2021-07-22 18:54] #95 closed

[2021-07-26 07:02] LucaGiudice opened #99 "missing mirtop results"
## Check Documentation

I have checked the following places for your error:

- [x] [nf-core website: troubleshooting](https://nf-co.re/usage/troubleshooting)
- [x] [nf-core/smrnaseq pipeline documentation](https://nf-co.re/nf-core/smrnaseq/usage)

## Description of the bug

I recently applied the pipeline to my miRNAseq data and I was particularly interested into mirtop results.
However, the pipel

[2021-07-26 17:12] lpantano commented on #99
Hi,

Thank you for the report, I dealt with that a few weeks ago, working on some enhancement besides this before creating the PR. Did you try to pass `--mirna_gtf` with the expected file: `ftp://mirbase.org/pub/mirbase/CURRENT/genomes/hsa.gff3`, that worked for me in the mean time.

Thanks for reporting!

[2021-07-27 08:17] LucaGiudice commented on #99
I applied the pipeline with the following command: run nf-core/smrnaseq -r 1.1.0 --input '/storage_1//N/4*.fastq.gz' -profile docker --protocol custom --genome GRCm38 --clip_r1 0 --three_prime_clip_r1 0 --max_cpus 10 --three_prime_adapter AGATCGGAAGAGCACACGTCT --mirtrace_protocol illumina --mirna_gtf ftp://mirbase.org/pub/mirbase/CURRENT/genomes/mmu.gff3

As result, I have obtained the mirtop dire

[2021-07-28 13:03] lpantano commented on #99
Indeed that is weird. Could you get the logs from running mirtop? If not I would run it locally that step to get the logs and check. I can take a look at the logs and see if the error is clear. If not, if you could share the bam file and the GFF file I could try to debug in a few days.

[2021-07-29 07:50] LucaGiudice commented on #99
I am sending you one fasta sequence, the nextflow pipeline report, and the mirtop files with https://transfer.sh/
From the nextflow pipeline report, you should be able to exactly replicate the issue.
The fasta sequence is the one that I used to test the pipeline and produced zero results with mirtop.
I suggest you duplicate the fasta sequence in order to run the nextflow pipeline with seq1.fastq.g

[2021-08-03 13:29] lpantano commented on #99
sadly my computer has transfer blocked so I cannot get that file. It is google drive an option?

[2021-08-08 15:15] JRodrigoF commented on #41
I still get an error using the option "--protocol custom" when trying to use specific adapter sequences.

N E X T F L O W  ~  version 21.04.3
singularity version 3.5.3
revision: 03333bfa17 [1.1.0]

The following runs with no problem at all:
nextflow run nf-core/smrnaseq -r 1.1.0 -profile test,singularity

However the following stops due to an error:
nextflow run nf-core/smrnaseq -r 1.1.0 --input '

[2021-08-09 13:22] lpantano commented on #41
Thank you for reporting, I see this is actually a code issue. The problem with that tool is that I don't know how it will run in this case. Do you know how the command line should look like for your case? Then I can try to find the logic in the code.

[2021-08-12 13:52] JRodrigoF commented on #41
Yes. I directly use cutadapt. I actually tune a bit several parameters, but my basic line would look like:

cutadapt --adapter AGATCGGAAGAGCACACGTCT --adapter GATCGGAAGAGCACACGTCTGAACTCCAGTCAC -q 10,10 --minimum-length 15

(cutadapt can take more than 1 custom adapter sequence and trim either if present)
from the TrimGalore [documentation](https://github.com/FelixKrueger/TrimGalore/blob/master/Doc

[2021-08-16 13:24] LucaGiudice commented on #99
I sent you the link from which you can download the data through email.
The link will be valid for two weeks, so you should not have any problem with the time limit.

[2021-08-16 21:23] lpantano commented on #41
Thank you, that is good to know. Could you find a command line for mirtrace that will work with your trimmed files?

[2021-08-17 07:45] soundharramsay commented on #62
Facing similar error when trying to run with downloaded fasta file (mature.fa and harpin.fa)

Error executing process > 'bowtie_indices'

Caused by:
  Process `bowtie_indices` terminated with an error exit status (4)

Command executed:

[2021-08-17 11:27] lpantano commented on #62
Hi,

is this using the same species? Can you share your command line for this error to happen?

[2021-08-17 11:28] lpantano commented on #99
thank you! can you tell me what email did you use and from where it will come? I didn't find anything. Thanks!

[2021-08-17 12:38] soundharramsay commented on #62
Dear Lorena Pantano

 Thanks for your response
 The species I am analyzing is homo sapiens.
The command I am using

nextflow run nf-core/smrnaseq --input ../trail/*.fastq.gz -profile docker
--fasta /mnt/backup02/Bella_microRNA/mirbase_reference/ --mirtrace_species
hsa -resume --bt_index /mnt/backup02/Bella_microRNA/mirbase_reference/

#1 Reference files were downloaded  and indexed
using bowtie-bu

[2021-08-17 13:19] lpantano commented on #62
Thank you for the information. As I see the code --fasta should be pointing to a single file that should be the genome fasta file, and the bt_index is the bowtie index of that genome file. The parameters for the mirbase files are `--hairpin` and `--mature` if you want to give them manually.

[2021-08-18 07:10] LucaGiudice commented on #99
lpantano@iscb.org
object: mirtop nextflow error data
from: luca.giudice@univr.it

[2021-08-21 00:13] lpantano commented on #99
Hi, I looked twice for that email. My email is correct, but I cannot find it anywhere. Can you send it again, or maybe to lorena.pantano gmail dot com

[2021-08-24 14:27] hesham123457887 opened #102 "pipeline reads only a single input fastq file"
Hi there!

I am running the pipeline to report differentially expressed miRNAs in C vs T samples. The pipeline works perfectly when I run it on a single input file, ex code below:
nextflow run ~/Downloads/smrnaseq/ -profile docker --protocol custom --input F1.fq.gz --outdir Results --genome GRCm38 --min_length 15 --trim_galore_max_length 50 --three_prime_adapter AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC

[2021-09-03 15:30] lokeshbio opened #103 "weird launchDir from UPPMAX profile"
## Check Documentation

I have checked the following places for your error:

- [x] [nf-core website: troubleshooting](https://nf-co.re/usage/troubleshooting)
- [x] [nf-core/smrnaseq pipeline documentation](https://nf-co.re/nf-core/smrnaseq/usage)

## Description of the bug

## Steps to reproduce

Steps to reproduce the behaviour:

1. Command line: nextflow run ~/nf-core-smrnaseq/workflow -profile

[2021-09-03 15:32] lokeshbio commented on #103
https://www.dropbox.com/s/86t9g5g961e0hrd/nextflow.log.1?dl=0

[2021-09-03 15:33] lokeshbio commented on #103
Basically the problem is that it sets the `nexflow.launchDir` variable weirdly for some reason! I am not sure how to set it up manaually!

[2021-09-03 15:36] lokeshbio commented on #103
It is literally adding `/castor/project/proj_nobackup/` in front of my actual launch directory!

[2021-09-03 18:31] lokeshbio commented on #103
Sorry! this was not the issue! Appafrently the disk was full!

[2021-09-03 18:31] #103 closed

[2021-09-06 12:41] LucaGiudice commented on #99
Sent it with the object "mirtop smallRNA nextflow error"

[2021-09-10 13:10] lpantano opened #105 "DSL2 - Add mirtrace module"
* related to #104
 * need to add mirtrace module, and compatible docker, bioconda and singularity environment

[2021-09-10 13:11] lpantano opened #106 "DSL2 - migrate mirdeep tool"
* related to #104
 * need to add mirdeep module, and compatible docker, bioconda and singularity environment

[2021-09-10 13:12] lpantano opened #107 "DSL2 - add software version for all tools"
* related to #104
* add the version for each process to `ch_software_versions` channel

[2021-09-10 13:13] lpantano opened #108 "DSL2 - organize output folders and update output docs"
* related to #104
* have a better organization on the output folders and update docs accordingly

[2021-09-13 09:56] Accio opened #109 "Submitting LSF job for the mirtrace process in test causes Bad Job name error"
## Check Documentation

I have checked the following places for your error:

- [x] [nf-core website: troubleshooting](https://nf-co.re/usage/troubleshooting)
- [x] [nf-core/smrnaseq pipeline documentation](https://nf-co.re/nf-core/smrnaseq/usage)

## Description of the bug

When starting the pipeline with `nextflow run nf-core/smrnaseq -profile test,singularity`, local runs causes no problem. Howe

[2021-09-15 17:05] hesham123457887 commented on #102
I have another suggestion/inquiry please..
Is there a way to customize the input fastq files into C and T groups?
The pipeline works very well for single fastq comparisons, ex: (C1.fq) vs (T1.fq).. Can it be further integrated with group of controls against a group of treatments, ex: (C1.fq C2.fq C3.fq) vs (T1.fq T2.fq T3.fq)?
thx!

[2021-09-30 19:29] mjsteinbaugh opened #110 "mirdeep2 errors in v1.1.0 pipeline"
## Check Documentation

I have checked the following places for your error:

- [x] [nf-core website: troubleshooting](https://nf-co.re/usage/troubleshooting)
- [x] [nf-core/smrnaseq pipeline documentation](https://nf-co.re/nf-core/smrnaseq/usage)

## Description of the bug

I'm seeing mirdeep2 errors pop up with running the default configuration of the pipeline:

[code]

## Steps to reproduce

[co

[2021-09-30 21:20] mjsteinbaugh commented on #110
OK the pipeline ran through with mirdeep disabled, but it seems to be stuck on this last step:

[code]

[2021-10-06 11:41] aubinthomas commented on #110
I had just te same issue, the problem is that some genes were mapped (according to the .arf file) on chromosomes not listed in genome_nowhitespace.fa.

To resolve it I put in the bin directory of the pipeline (with rights to execution) the following perl script called patch.pl :

[code]

and in the main.nf I modified the script part of mirdeep2 process:

[code]

The script will discards these gene

[2021-10-06 12:59] lpantano commented on #110
Hi all,

Thanks for the information. We are migrating to DSL2 that is a big effort and it will take another couple of weeks to have it ready. I am incorporating the two processes for mirdeep2 and mirtrace and we can incorporate this. Is this using your own genome or the genome coming from the pipeline? Thanks!

[2021-10-06 13:07] aubinthomas commented on #110
I had this issues on human data by using as genome GRCh38  (--genome GRCh38)
For example with the public data SRR14736844

[2021-10-06 13:13] lpantano commented on #110
Did you try the devel branch, just out of curiosity?

[2021-10-06 13:18] aubinthomas commented on #110
No, I'll do it as soon as the version from the master has finished running, and I'll tell you!

[2021-10-06 19:23] mjsteinbaugh commented on #110
@lpantano I ran the NCBI GRCh38 genome as well via `--genome GRCh38`. Happy to help test this out and debug while you're working on the DSL2 update!

[2021-10-07 21:36] #106 closed

[2021-10-07 21:36] #107 closed

[2021-10-07 21:38] lpantano commented on #109
we will try to fix that in the next version #104

[2021-10-11 14:39] apeltzer opened #113 "[FEATURE] (Optional) Additional filtering / contamination filtering steps"
# nf-core/smrnaseq feature request

## Is your feature request related to a problem? Please describe

There are currently  (no/few?) filtering / contamination filtering steps implemented (for trna, rrna, cdna,ncrna, pirna, ...) - we have some modules available for this and would like to contribute these.

## Describe the solution you'd like

See above - making this available for everyone to option

[2021-10-11 14:42] apeltzer opened #114 "[FEATURE] UMI Handling (extract, trimming, merging trimming reports)"
# nf-core/smrnaseq feature request

## Is your feature request related to a problem? Please describe

We have some data that has UMIs attached to the reads and would like to be able to both extract & trim these and have the reports of that step in the final report available as well.

## Describe the solution you'd like

We have functional code to perform this using cutadapt + some extra scripts &

[2021-10-18 10:47] karthick1087 opened #115 "Single end support: input settings"
Hi
Can I use single end reads from illumina as input. How can I distinguish control and case when I giving as input, since we use *.fastq.gz as input flag.

[2021-10-19 14:33] rakeshponnala opened #116 "AWS S3 Issue"
Hello,

I'm trying to run smRNASeq pipeline as below. However keep running in to the S3 Issue.

nextflow run nf-core/smrnaseq -profile singularity --genome CanFam3.1 --mirtrace_species cfa --mirtrace_protocol qiaseq --input '*.fastq.gz' --protocol qiaseq
N E X T F L O W  ~  version 21.04.3
Launching `nf-core/smrnaseq` [tender_marconi] - revision: 03333bfa17 [master]

------------------------------

[2021-10-19 18:43] rakeshponnala commented on #116
Thanks! I downloaded the entire dog genome from igenome to avoid aws s3, In that case, should I explicitly specify fasta file location and run them ? as opposed to using --genome and pulling from AWS? Then I dont need to make any configuration changes to my Nextflow config file correct?

[2021-10-25 19:34] rakeshponnala opened #117 "Multiple Sample running Issue"
Hello,
I'm trying to run multiple microRNA samples and the pipeline start to die at the trimming step : Any suggestions

nextflow run nf-core/smrnaseq -r 1.1.0 --input sample.sheet.csv -profile singularity  --protocol qiaseq --fasta genome.fa --mirtrace_species cfa --mirna_gtf cfa.gff3 --bt_index /pathtogenomebowtie/ --hairpin hairpin.fa --mature mature.fa --mirtrace_protocol qiaseq --max_cpus 90

[2021-10-27 17:15] #117 closed, assigned to nobody

[2021-10-30 14:27] rakeshponnala commented on #117
Thanks for the suggestion. I executed the above command and the test works now... Now - I tried a set of samples with this pipeline using dsl2 , the pipeline runs great except it throws an error at the end . Seem to be related to multiQC. I'm pasting the error message. I really couldn't figure out what the issue is.

Error executing process > 'NFCORE_SMRNASEQ:SMRNASEQ:MULTIQC'

Caused by:
  Proces

[2021-11-04 13:03] idot commented on #114
see also  #49

[2021-11-08 10:08] hesham123457887 opened #118 "Error executing process > bowtie indices... mirBase issue?"
Hi there!

I used to run nf-core/smrnaseq and it worked like a charm until last week, when I had issues with the pipeline. I used the same command earlier:
nextflow run ~/Downloads/smrnaseq/ -profile docker --input '*fq.gz*' --outdir result --genome GRCm38

Now, when I run the same command on the same dataset I get errors:
Error executing process bowtie indices..

Caused by:
  Can't stage file ftp

[2021-11-08 10:09] hesham123457887 commented on #118
<!--
# nf-core/smrnaseq bug report

Hi there!

I used to run nf-core/smrnaseq and it worked like a charm until last week, when I had issues with the pipeline. I used the same command earlier:
nextflow run ~/Downloads/smrnaseq/ -profile docker --input '*fq.gz*' --outdir result --genome GRCm38

Now, when I run the same command on the same dataset I get errors:
Error executing process bowtie indices.

[2021-11-08 10:12] hesham123457887 commented on #118
.

[2021-11-08 13:01] evchambers commented on #118
Hi @hesham123457887, I am also experiencing this issue. Seems to be a problem connecting to mirbase.

[2021-11-08 13:58] hesham123457887 commented on #118
Yah.. couldn't really find a workaround. Did you mange to fix it?

[2021-11-09 04:19] lpantano commented on #118
through the web page this is working, worst case they change the url and we need to update. you could pass the parameters pointing to the right file if this is the issue. i can check back tomorrow.

[2021-11-09 09:02] hesham123457887 commented on #118
Sure, which parameters then? Is it the --fasta one or something else should be joined in the command? thx!

[2021-11-09 09:15] Shellfishgene commented on #118
I also noticed this, from Linux I get `connection refused` (with wget, curl and via smrnaseq), and Firefox downloads a 0 byte file with the ftp links. The download links on the website are https, not ftp as the pipeline tries, maybe this was changed recently.
The options for pointing to the already downloaded files are `--mature` and `--hairpin`.

[2021-11-09 09:30] hesham123457887 commented on #118
Perfect... It runs now without the error.. Will see till the end thx!

P.S: For the mature and hairpin fa files, are those mouse, human, or a combined fasta file?
I Couldn't find this info online.. thx

[2021-11-09 09:55] evchambers commented on #118
@Shellfishgene thank you so much for this. Manually downloading the files and passing --hairpin and --mature has bypassed the problem.

@hesham123457887 I believe they are combined fasta files.

[2021-11-09 12:30] Shellfishgene commented on #118
Changing the download links in the smrnaseq `nextflow.config` from the ftp version to
[code]
works also.

[2021-11-19 18:17] v-cairoli commented on #110
Hello!! I had the same issue with miRDeep2. I a just starting using linux and sequencing data.
Seing that @aubinthomas solved the problem with dev branch I wanted to know how do I use the dev branch (or if it is something that I need to install?)
Thanks!

[2021-11-22 23:58] lpantano commented on #110
Hi, normally you could use the dev branch using the `-r` parameter with nextflow like `nextflow run nf-core/smrnaseq -r dev`. Something to be aware is the dev has a major change and the input is not anymore the path of the reads, you can follow the dev documentation here: https://github.com/nf-core/smrnaseq/blob/dev/docs/usage.md

[2021-12-13 22:25] ylcodiak commented on #118
I have the same issue. I am new to nextflow configure, I created a file name nextflow.config in my current directory, and used the above two lines in the file. it still have the same error.  I was using this line of code on command line:
nextflow run nf-core/smrnaseq --reads data/*.gz -profile docker --genome 'GRCh38' -config nextflow.config.   Shellfishgene, would you mind sharing your configure

[2021-12-17 10:53] apeltzer commented on #118
This should be addressed in the current `dev` branch now - so you may just run that version for now `-r dev` to get around the issue 👍🏻

Release coming soon ™️ I suppose, but when looking at the current dev branch it looks like things should work for you when directly using the dev branch.

Please re-open if this is not the case and/or open a new issue then 👍🏻

[2021-12-17 10:53] #118 closed

[2021-12-17 10:58] apeltzer commented on #114
Closing in favour of #49

[2021-12-17 10:58] #114 closed

[2021-12-17 10:59] apeltzer opened #124 "Group of controls vs Group of treatments - is this possible?"
Is there a way to customize the input fastq files into C and T groups?
The pipeline works very well for single fastq comparisons, ex: (C1.fq) vs (T1.fq).. Can it be further integrated with group of controls against a group of treatments, ex: (C1.fq C2.fq C3.fq) vs (T1.fq T2.fq T3.fq)?
thx!

_Originally posted by @hesham123457887 in https://github.com/nf-core/smrnaseq/issues/102#issuecomment-920205

[2021-12-17 10:59] apeltzer commented on #102
I made a new issue for your question - see #124 to keep this separate from your initial question you posted above.

[2021-12-17 10:59] #102 closed

[2022-01-03 12:46] apeltzer commented on #110
Will close this for now - @v-cairoli the latest changes have been merged  to `dev` and you could give this a try. It _should_ resolve your issues, if not please open a new issue 👍🏻

[2022-01-03 12:46] #110 closed

[2022-01-03 12:47] apeltzer commented on #99
`dev` contains now the new DSL2 reimplementation - please re-open if this doesn't resolve your issue(s) 👍🏻

[2022-01-03 12:47] #99 closed

[2022-01-03 13:02] apeltzer commented on #5
Sounds like this is resolved. Also matching what we've been using so I also (along the same lines as @chuan-wang see the necessity to change settings at least for now 👍🏻

[2022-01-03 13:03] apeltzer commented on #35
Looks like this is long resolved by @lpantano 👍🏻

[2022-01-03 13:03] #35 closed

[2022-01-03 13:05] apeltzer commented on #48
Hi @bazelep - looking at the documentation of mirtrace, there is no listing that coreutils would be required for running mirtrace at all. Can you share more information (or rerun with the latest `-r dev` branch to check if this is resolved?)

Thanks!

[2022-01-03 13:06] apeltzer commented on #109
Hi @Accio !

Can you give `dev` another try? `-r dev` when running the pipeline, ideally with a newer Nextflow version (> 21.04.2 should work fine).

[2022-01-03 15:10] bazelep commented on #48
Hi @apeltzer,
The issue I had was a call to the "realpath" UNIX utility, which wasn't in my PATH at the time and so I edited the main.nf file to include the full path. It has been awhile since I used the smrnaseq workflow and perhaps the issue is fixed. Feel free to close this.
Regards,
Peter

[2022-01-04 09:07] apeltzer commented on #48
Ok, will do so - if you at some point encounter the issue again, please re-open.

[2022-01-04 09:07] #48 closed

[2022-01-09 21:35] cjfields opened #126 "miRDeep2 decompression step assumes a fixed file ending."
## Check Documentation

I have checked the following places for your error:

- [ ] [nf-core website: troubleshooting](https://nf-co.re/usage/troubleshooting)
- [ ] [nf-core/smrnaseq pipeline documentation](https://nf-co.re/nf-core/smrnaseq/usage)

## Description of the bug

On the `dev` branch I am seeing issues with mirdeep2 prep steps using `pigz` based on the assumption the FASTQ file extension

[2022-01-09 21:36] cjfields commented on #126
I can provide the log if needed, but will be attempting to fix this for a pull request

[2022-01-11 17:46] wushyer commented on #116
Hi, I am using the singularity profile of smrnaseq (latest version) in rat, with specified Rat genome of Rn6. The output is fine except for the empty mirtop results.

Below is the log

(tools3) [shuangyang.wu@clip-login-0 log]$ cat run.log
01/11/2022 05:06:55 INFO-mirtop.libs.logger(44): Run export of GFF into other format.
01/11/2022 05:06:55 INFO-mirtop.libs.logger(32): INFO Writing TSV file to

[2022-01-18 16:44] lpantano commented on #49
I have looked into that. Meanwhile extracting seems compatible with the pipeline and dedup BAM files can be used for some tools, there are some parts that will need some custom dedup before aligning. If somebody have time for this, I can help on the guiding how to implementing. I don't see a lot of time for doing it by myself in the next month, but who knows!

[2022-01-21 17:24] bioinfowheat opened #127 "Error executing process > 'get_software_versions'"
Hello,
I'm running smrnaseq on my local linux server, with docker and I get this error below. Any suggestion for moving forward would be greatly appreciated.

Chris
#############

[code]

[2022-02-02 14:15] JoseEspinosa commented on #127
Hi @bioinfowheat , you can try to fix this issue following [this answer](https://stackoverflow.com/questions/48957195/how-to-fix-docker-got-permission-denied-issue) from Stack Overflow.

[2022-02-07 12:55] apeltzer commented on #126
Hi Chris! Can you try using `dev`?  Cannot say from the log whether this is the dev version unfortunately.

[2022-02-07 15:49] apeltzer opened #128 "Update MultiQC to 1.12 planned release before releasing DSLv2 version"
This bug here is resolved in the upcoming MultiQC version 1.12 -- https://github.com/ewels/MultiQC/issues/1263

It occurred to me when running the dev branch unfortunately, but is resolved. Before we attempt at doing a release of the new pipeline version, maybe we could have this fixed by upgrading to the latest MultiQC release?

[2022-02-10 11:08] apeltzer commented on #128
As long as we don't forget, no worries 👍🏻

[2022-02-10 11:09] apeltzer commented on #128
x-ref https://github.com/nf-core/modules/pull/1282

[2022-02-22 20:21] rakeshponnala opened #130 "Output for Differential micro-RNA analysis"
I just did run ~170 microRNA samples using the version -r dsl2 successfully by supplying a sample sheet. In order for me to perform Differential expression analysis from mirDeep2, I don't see a consolidated file with miRNA read counts for all the samples, although I see individual CSV and HTML files for 170 samples from mirdeep2. Although, I see a single mirTop.tsv file..(known microRNA).

How cou

[2022-03-08 17:30] MargaridaMCM opened #131 "Species not in mirTrace (present in miRBase)"
<!--
# nf-core/smrnaseq bug report

I am trying to run `dev` on a marmoset dataset (Callithrix_jacchus). I am running into the problem that marmoset is part of miRBase (cja) but not miRTrace.

If I run dev using `--mirtrace_species cja` I get the mirTrace error `unknown species: cja`. If I run without setting `--mirtrace_species`, I get `Reference species for miRTrace is not defined`.

Since mirTr

[2022-03-11 10:34] MargaridaMCM opened #132 "Error because of large chromosomes"
As part of the pipeline, Bowtie alignment files are indexed using samtools' BAI index. The problem is that the BAI index can only index chromosomes smaller than 512 Mbp. For larger chromosomes, a CSI index (also from samtools) needs to be used instead (it doesn't have a hardcoded limit).

The marsupial opossum's chromosomes 1 and 2 are larger than 512 Mbp. The same is true for other marsupials and

[2022-03-16 00:15] BioinfoHub-PeiQinNg opened #134 "Error in edgeR analysis: library size of zero detected when executing DGEList function"
I have checked the following places for your error:

- [ ] [nf-core website: troubleshooting](https://nf-co.re/usage/troubleshooting)
- [ ] [nf-core/smrnaseq pipeline documentation](https://nf-co.re/nf-core/smrnaseq/usage)

## Description of the bug
I have tried executing nf-core/smrnna workflow, up until the edgeR step the following error shows up
<Command exit status:
  1

Command output:
  $mat

[2022-03-16 15:15] apeltzer commented on #134
Can you check if this is also the case for `dev` - the soon new released version?
You can simply run that with `-r dev` and providing a samplesheet for your samples.

[2022-03-17 17:33] apeltzer commented on #134
@BioinfoHub-PeiQinNg - you may give `-r fix-issue-134` a try - we're running some tests to see if this fixes the issue permanently (I believe it does, filtering out samples with entirely zero expression across all genes...)

[2022-03-17 19:55] lpantano commented on #134
I believe @apeltzer is right, this was reproduced by some people in the past and that should fixed it.

[2022-03-17 19:57] lpantano commented on #132
Hi @MargaridaMCM , this is interesting. I have never had to use these big chromosomes. Would you mind to make the changes and see what happens? I am not sure if all tools are compatible with this...

[2022-03-17 19:58] lpantano commented on #131
This should be possible to be added easily. we should be able to skip this step if it doesn't support the tool. Did you try to change the code and see if it was easy to do?

[2022-03-17 20:00] lpantano commented on #130
Hi @rakeshponnala, there is a discussion about how to do that in slack, but there is not straight forward answer. When I developed this in bcbio_nextgen. I pull all the samples together and run mirdeep2, then prepare files similar to mirbase to run the same tools used for known mirnas with the mirdeep2 novel microrna. But this is something to be implemented here right now, and it requires of some

[2022-03-17 20:00] lpantano commented on #128
can we closed this?

[2022-03-17 20:16] apeltzer commented on #128
Yes absolutely!

[2022-03-17 20:16] #128 closed

[2022-03-18 08:57] apeltzer commented on #134
Fixed in #136

[2022-03-18 08:57] #134 closed

[2022-03-18 09:00] apeltzer opened #137 "Bug in multiqc / mirTop broke"
Had this unfortunately with the `dev` branch:

[code]

Not sure what is causing this, didN#t check the module so far.

@ewels any idea?

[2022-03-19 07:02] ewels commented on #137
Not sure sorry, I guess the output is different for some reason? Not seen it before, need to see the tool output. These things are usually fairly easy to patch though.

[2022-03-21 12:47] apeltzer commented on #137
Hi @ewels  I have added some fake data (that resembles the original data very much) to add a testcase for `mirtop` mabye. See linked PR to testdata: https://github.com/ewels/MultiQC_TestData/pull/227

@lpantano might also be interested in seeing this -- it looks like the `ref_miRNA_sum` variable is not present for all the samples here, which might explain that the access then fails.

[2022-03-21 16:31] lpantano commented on #137
oh, I didn't think about not having that for all samples...that seems weird to be honest,  related to the data itself...no sequences matching the references seems weird. Thank for spotting this.

[2022-03-23 16:05] apeltzer commented on #137
Considering that we likely need to address this upstream either in mirtop to enforce this is always there in the output _or_ in the multiqc module - can we potentially add a `--skip_mirtop` option to enable users to circumvent this bug for the time until this is fixed upstream? @JoseEspinosa @lpantano what do you think about that?

[2022-03-25 17:29] JoseEspinosa commented on #137
Yes, might be a good solution for now. Should we skip the whole process or maybe only multiqc i.e. --skip_mirtop_multiqc ?

[2022-03-26 23:04] lpantano commented on #137
I think the quantification is useful, I would prefer to skip the QC of multiqc in this case only if it were my data.

[2022-03-29 17:52] keenhl opened #139 "Custom Genome rabbit"
Thanks for the nextflow pipeline.  I have just started to use it, and before going much farther, I wanted to find out about how to use the pipeline with a custom genome. Specifically, I am trying to do a srna analysis on Oryctolagus cuniculus - rabbit, which I didn't see in IGenomes.

Thanks for your help.

[2022-03-29 18:17] keenhl opened #140 "Error running test"
I am first time user.  Thanks for making this pipeline available.

When I ran the following command

nextflow run nf-core/smrnaseq -profile argon,test,singularity -bg -resume

argon is a profile for our local HPC

I get the following error.  It seems to be related to a singularity issue, but otherwise I have no idea where to start debugging.

Thanks for your help

##########

Execution completed u

[2022-03-31 16:48] keenhl commented on #41
New here, and having the some problems.

My quick workaround was just to edit the main.nf file (see below) and replace TGGAATTCTCGGGTGCCAAGG with my adapter sequence.   There's probably a better way to do this.

if (params.protocol == "illumina"){
    clip_r1 = 0
    three_prime_clip_r1 = 0
    three_prime_adapter = "TGGAATTCTCGGGTGCCAAGG"

[2022-04-05 11:59] apeltzer commented on #140
Hi @keenhl - do you have more logs to share here? This looks like a problem with your singularity setup. Can you also share the output if you use the `dev` branch which contains a lot of other fixes, too?

Same command, but with `-r dev` ?

[2022-04-05 16:27] keenhl commented on #140
Thanks for taking time to check on this.  I tried it again today, and it ran successfully.  I didn't do anything different this time, as far as I can tell,  so I guess it must have just been something weird happening on my end.

Thanks for your help,

[2022-04-05 16:32] keenhl commented on #139
I know how to fix this now.  I just need to manually download the  files for --hairpin, --mature, --fasta, and --mirna_gtf.

mature and hairpin

https://www.mirbase.org/ftp/CURRENT/mature.fa.gz
https://www.mirbase.org/ftp/CURRENT/hairpin.fa.gz

mirbase annotation

https://www.mirbase.org/ftp/CURRENT/genomes/

genome fasta

http://ftp.ensembl.org/pub/release-100/fasta/

[2022-04-05 16:32] #139 closed

[2022-04-07 09:23] MargaridaMCM commented on #131
Hi Lorena, sorry for my late reply.

Yes, I commented out the command to run mirTrace, which solved the problem. I am not sure how to do it properly using DSL2 syntax.

[2022-04-07 17:34] keenhl commented on #130
Hi @rakeshponnala

This is something I would like to do also.   We would have to be careful about how we are merging overlaps across samples.  For example, below are some results I got from two different samples.   Probably is the same miRNA, but the coordinates are slightly different.  We probably want to merge these two together, but there might be other cases that are less clear what to do.

1

[2022-04-22 11:23] lpantano commented on #137
I fixed that in mirtop, waiting for bioconda to bump the version, and then we need to update the docker container, that I forgot how to do it, so If somebody knows how, happy to get help here :)

[2022-04-25 20:44] JoseEspinosa commented on #137
You mean the mulled container [here](https://github.com/nf-core/smrnaseq/blob/c90a5cde6553f599d1b5ed9d4aa2fadc741eee04/modules/local/mirtop_quant.nf#L4-L7) ? I can take care of it if you are referring to this

[2022-04-25 20:54] JoseEspinosa commented on #137
Here is the PR in the biocontainers multi-package containers repository https://github.com/BioContainers/multi-package-containers/pull/2150

[2022-04-26 09:19] JoseEspinosa commented on #137
Here is the PR with the updated container https://github.com/nf-core/smrnaseq/pull/143

[2022-04-27 11:58] apeltzer commented on #137
All fine now 👍🏻

[2022-05-12 10:45] MargheritaSq opened #145 "Low mapping in the alignment to reference genome"
<!--
# nf-core/smrnaseq bug report

Hi there!

I have recently run this pipeline on my data and I got, in my naive experience of non codingRNA-seq analysis, very low mapping percentages: for the majority of my samples I got around 0.2% of coverage, for the remaining ones I got between 10% and 40% of coverage. Is it common this low levels of mapping for this data type?

[2022-05-13 09:06] CKComputomics commented on #49
@lpantano I'm currently looking into this. The UMI extract part is pretty straightforward to implement, but what steps do you refer to when you talk about custom deduplicating before aligning? Is a deduce step for the mapped hairpin and mature bam files (+ possibly for the genome alignment) not sufficient?

[2022-05-18 20:45] lpantano commented on #49
Hi, dedup on bamfiles is not going to help some tools. If dedups happen in the fastq files, then it is fine. The tools targeted to a better quantification on miRNA will do a 'collapsing' step at the fastq level, where each sequence that is the same will be reported once in the output file (normally a fasta file), having the times where that sequence appeared in the read name.

mirdeep, mirtop, mir

[2022-05-19 06:13] CKComputomics commented on #49
So adding an additional step in genome mode that maps all reads, dedups the bam and converts it back to fastq would be an option?
Setting up a call would be great.

[2022-05-19 07:25] ewels commented on #49
Assuming that UMI sequences are carried into aligned BAM files in the read headers, it should be fine to do alignment+UMI based deduplication, no? I don't really see why it has to be raw sequence based only?

[2022-05-19 12:41] #145 closed

[2022-05-19 13:03] MargheritaSq opened #152 "Low mapping in the alignment to reference genome"

[2022-05-19 13:04] #152 closed

[2022-05-19 13:27] MargheritaSq opened #153 "Low mapping to the reference genome: is it expect for non-coding RNAs?"
Hi all!

I have recently used this pipeline for the analysis of my data but I am concerned about the low mapping results. I attached the Alignment bar plot to this message to clarify this my point. Despite using the right adapters (qiaseq) and knowing that the fastq sequences I have analyzed were already purified from the UMI sequences, I have obtained between 0.2 and 0.5% of mapping to the refere

[2022-05-19 13:27] MargheritaSq commented on #153
Thanks!

Marghe

[2022-05-23 08:55] Cristinex opened #155 "RNAfold: invalid option -- n"
## Check Documentation

I have checked the following places for your error:

- [Y ] [nf-core website: troubleshooting](https://nf-co.re/usage/troubleshooting)
- [doesn't exist] [nf-core/smrnaseq pipeline documentation](https://nf-co.re/nf-core/smrnaseq/usage)

## Description of the bug

The pipeline crash with error: File mirdeep_runs/run_23_05_2022_t_08_12_30_CL100189714_L01_31_trimmed_collapsed/

[2022-06-02 07:57] bounlu opened #159 "--bowtie_indices fails"
### Description of the bug

Thanks for releasing the new version `v2.0.0` on the `master`.

I just tested it however specifying iGenomes index for Bowtie failed as below:

[code]

### Command used and terminal output

[code]
[code]
nextflow info
  Version: 22.04.3 build 5703
  Created: 18-05-2022 19:22 UTC (19-05-2022 03:22 SGST)
  System: Mac OS X 11.4
  Runtime: Groovy 3.0.10 on OpenJDK 64-Bit S

[2022-06-08 03:18] bounlu opened #160 "illumina 3 prime adapter sequence"

[2022-06-08 03:22] bounlu commented on #160
closed

[2022-06-08 03:23] #160 closed

[2022-06-08 18:53] gpalidwor opened #161 "trimmed output not as documented"
### Description of the bug

Using smrnaseq v2.0.0, I see this with the example minimal dataset output, it's also the case in the AWS output.

The documentation says trimming will go into results/trim_galore, but it goes into results/trimmed. As well the trimmed directory does not contain the trimmed fastq.gz output as documented.

### Command used and terminal output

_No response_

### Relevant f

[2022-06-10 14:22] apeltzer commented on #161
Looking at this here - https://github.com/nf-core/smrnaseq/blob/4278785edd4a5e2cf5e599e7eb4daa133e4983b9/conf/modules.config#L111 I think the `*.{txt,fastq.gz}` pattern should be enough to fix this . Will do this in `dev` now.

[2022-06-17 13:34] #127 closed

[2022-06-17 13:39] apeltzer commented on #12
Done in #146

[2022-06-17 13:39] #12 closed

[2022-06-17 13:45] apeltzer commented on #137
Hmm, unfortunately still an issue. I've had more projects with the same error :-(

[2022-06-17 13:46] apeltzer commented on #137
It still looks like some samples are missing the same entry, e.g. `ref_miRNA_sum` is not present for all samples unfortunately. Thus the MultiQC module breaks --> crashing pipeline :-(

[2022-06-17 13:52] #161 closed

[2022-06-17 14:02] #113 closed, assigned to nobody

[2022-06-17 14:03] #109 closed

[2022-06-17 14:05] apeltzer commented on #116
Please don't bump a different thread - open a separate issue if its not evidently clear that it is the same issue 👍🏻

[2022-06-17 14:06] apeltzer opened #163 "MirTop in Rat not working as expected"
Hi, I am using the singularity profile of smrnaseq (latest version) in rat, with specified Rat genome of Rn6. The output is fine except for the empty mirtop results.

Below is the log

[code]

_Originally posted by @wushyer in https://github.com/nf-core/smrnaseq/issues/116#issuecomment-1010209528_

[2022-06-17 14:06] #116 closed

[2022-06-21 11:31] apeltzer commented on #49
I think #164 adds exactly that now - so everyone could take a look at the feature and test it for inclusion 👍🏻

[2022-06-21 11:33] apeltzer commented on #43
Its entirely possible to specify this in the pipeline now freely - e.g. `nextflow run nf-core/smrnaseq -r 2.0.0 --min_length 15 --clip_r1 3 --three_prime_adapter 'AAAAAAAAAA'` should do the trick for you 👍🏻

[2022-06-21 11:40] #43 closed

[2022-06-22 15:30] gpalidwor commented on #137
Bug opened https://github.com/ewels/MultiQC/issues/1712

[2022-06-22 19:31] apeltzer commented on #137
Maybe a good idea yeah to fix this in MultiQC, although that means we have to wait for MultiQC V1.13 to fix this 😢

[2022-06-22 19:44] ewels commented on #137
![wait](https://media.giphy.com/media/l0HlBO7eyXzSZkJri/giphy.gif)

[2022-06-23 13:05] lpantano commented on #137
Hi,
if you give me a gff file from mirtop that is missing that I can take a look. I know where the code is so I can pull a fix quickly. It is working for us, so I don't have any example.
Thanks!

[2022-06-23 14:57] gpalidwor commented on #137
below is the gff file from the mirtop output in the results directory of the nf-core/smrna output. It's mostly zero counts because  it was a bad configuration, rerunning to see if multiqc succeeds with the proper config

[mirtop.gff.gaz]([mirtop.gff.gz](https://github.com/nf-core/smrnaseq/files/8968410/mirtop.gff.gz))

[2022-06-25 04:04] bounlu commented on #159
The issue arises from this [line](https://github.com/nf-core/smrnaseq/blob/d1299b132a910d8adb38a5445d0c223051e14264/subworkflows/local/genome_quant.nf#L24). Hope to get a fix on this.

[2022-06-25 13:32] bounlu commented on #159
The error is indeed due to failure in `mapper.pl` script in `mirdeep2` [here](https://github.com/rajewsky-lab/mirdeep2/blob/c6440e298795579ad62351bba7aff9cc43c50c68/src/mapper.pl#L413).

[2022-06-27 07:37] apeltzer commented on #159
Yeah looks like a small bug to fix. Will give this a try now.

[2022-06-27 07:41] apeltzer commented on #159
@JoseEspinosa - just had a look and cannot really say whats the error with that line. Any idea?

[2022-06-27 08:40] ewels commented on #137
Yeah, MultiQC should never crash with a traceback like that. For starters it means that all subsequent logs from that tool will be ignored, so it should definitely be fixed 👍🏻

[2022-06-27 08:43] JoseEspinosa commented on #159
From what I see in the error message, I'd say that the problem is not in the line reported above but is that the `genome.*.ebwt` files are not correctly staged in the `work` directory, but it is weird. I will need to run with the same reference and see if the error can be reproduced. @bounlu could you list the content of the work directory and post it here? (`aws s3 ls s3://omeran/nextflow/smrnase

[2022-06-27 15:01] apeltzer commented on #137
PR in modules is open https://github.com/nf-core/modules/pull/1814 , once this is merged, can upgrade the module for MultiQC here in the repository and we're fine again 👍🏻

[2022-06-27 15:41] JoseEspinosa commented on #159
We fixed it in #165, you can try to give it a try in the dev branch @bounlu otherwise, `2.1.0` is in preparation stay tuned. I will close the issue now but feel free to come back to us if you find any other issue.

[2022-06-27 15:41] #159 closed

[2022-06-28 02:04] bounlu commented on #159
Thanks a lot for the fix! I will be testing it soon.

[2022-06-29 15:04] gpalidwor opened #168 "--mirtrace_protocol arguments redundant, --protocol only should be sufficient"
### Description of feature

Currently smrna requires both --protocol and --mirtrace_protocol to be set.  Both default to illumina. If --protocol is set to a non illumina value (e.g. nextflex)  --mirtrace_protocol must be set to the same. As such the --mirtrace_protocol argument is redundant and can lead to confusing results if not set to match --protocol. I can think of no cases where  --protocol

[2022-06-29 22:02] gpalidwor commented on #168
Thanks for looking at it; My experience was the mirTrace output was not meaningful (didn't map to anything) for ` --protocol nextflex` until I also set `--mirtrace_protocol nextflex` so perhaps it's protocol specific..?

[2022-07-06 20:35] rrashford commented on #134
Hello,

I am running into this problem, but am using RStudio instead of the command line because I'm pretty new at bioinformatics. I am trying to obtain normalization factors from my alignment files using the edgeR package. When I run regionCounts that  my takes in my alignment bam files (pe argument = list of all .bam files in my working directory), the consensus peakset for my experiment, and my

[2022-07-14 13:05] JanineRoy opened #172 "--protocol sequence not passed to mirtrace?"
### Description of the bug

We have data created using QIASEQ protocol.
When setting --protocol "qiaseq" and investigating mirtrace QC output, no adapter got removed.
Output from mirtrace:
![image](https://user-images.githubusercontent.com/109286724/178975911-280a27d6-b9f0-44a0-875a-dbe635903e12.png)
but mirtop creates a file with many mirna counts.

Nevertheless, when directly stating --three_pri

[2022-07-22 12:56] DwinGrashof opened #174 "Remove Duplicates in mirtop.tsv removes more lines than expected"
### Description of the bug

There is a difference between the mirtop.tsv and mirna.tsv count files. The difference between these two files comes from the R script `collapse_mirtop.r`  where the counts for isomirs per miRNA are summed after removing UID duplicates using the code:
[code]
However, some of the duplicated UIDs are removed but I don't know why you would choose to do so. For example, in

[2022-07-25 20:39] lpantano commented on #174
Hi @DwinGrashof,

can you check on this code and look at the table this generates to see if it seems better:

[code]

I can push this into dev if this seems to address the issue and not mess up with other things :)

[2022-08-16 08:18] DwinGrashof commented on #174
Hi @lpantano ,

Sorry for my late response, I've been busy during these holiday times.

I've looked through the code and it does seem to work better in most cases than the current mirna code.
I do notice though, that some UIDs (iso-22-U4K7BB8Z & iso-22-FPJYUP6XO for example in my dataset).

hsa-miR-365a-3p and hsa-miR-365b-3p have the same counts with all the same UIDs in my dataset.
Because they

[2022-08-16 09:57] MargheritaSq commented on #153
Hi there!

I have post my issue about 2 month ago and I did not receive any answer to my question. I JUST want to know if it is "standard/normal" to obtain a low mapping quality from the analysis of this type of data. Thank you. Cheers

[2022-08-19 14:46] jonoave commented on #153
Hi @MargheritaSq,

I've used this pipeline and our mapping rate was between 3-12%, so some of your samples look pretty high up to 20%. We we also initially skeptical about the low mapping rate. So we tried it on a public dataset that had a published paper and we got around 10% mapping rate, comparable to the paper.

Hope this helps.

[2022-08-24 16:26] MargheritaSq commented on #153
Thank you very much for your reply. It helped a lot!

[2022-08-24 16:26] #153 closed

[2022-08-26 22:27] BarryDigby opened #175 "Input and Output names are the same `:BAM_SORT_SAMTOOLS:SAMTOOLS_SORT`"
### Description of the bug

Workflow exited due to line 23 in the `SAMTOOLS_SORT` process, part of the `BAM_SORT_SAMTOOLS` subworkflow:

[code]
***
Soruce:

https://github.com/nf-core/smrnaseq/blob/d1299b132a910d8adb38a5445d0c223051e14264/modules/nf-core/modules/samtools/sort/main.nf#L20-L30
***
Corresponding `modules.config` logic:

https://github.com/nf-core/smrnaseq/blob/d1299b132a910d8adb38a54

[2022-08-29 14:41] JoseEspinosa opened #176 "Create consensus bed of mirdeep2 miRNAs"
### Description of feature

As discussed in slack with @sdjebali and @lpantano it will be nice to add this feature to the pipeline. I copy the discussion here:
@sdjebali:

@lpantano:

[2022-08-30 11:13] asalhab commented on #175
I had the exact issue with the offline version. I posted my issue on slack https://nfcore.slack.com/archives/CL66GAJBF/p1660635971409769

[2022-08-30 21:25] lpantano commented on #175
can you share your input file? I am think that maybe happen in some cases depending on the name of the samples.

[2022-08-30 21:27] lpantano commented on #175
I just saw the file, I will take a look now

[2022-08-31 01:22] lpantano commented on #175
Can you try with 2 samples only? if you get the same error and you can share the samples I can try to debug further.

[2022-08-31 08:15] bounlu opened #178 "Trimming parameters are wrong for `nextflex` protocol"

[2022-08-31 15:00] sdjebali commented on #176
At the end I decided to do the following:
1. filter the csv files output by mirdeep2 so that I only retain detected mirnas with a probability of being a true positive above 75%
2. make a bed file with the filtered mirnas found in all samples (simple concatenation) but remembering
  a. whether the mirna is novel or known and if it is know its closest known mirna from other species
  b. its probabil

[2022-08-31 19:03] BarryDigby commented on #175
Sure thing. Same outcome: [2sample_log.txt](https://github.com/nf-core/smrnaseq/files/9464264/2sample_log.txt)

Here is a link to my Drive with the two samples used: https://drive.google.com/drive/folders/1R_Lx2AZSq72wno2Il0K8rdFVUXExo0bc?usp=sharing

You can recapitulate my run using the exact same files and commands listed above, just subset `samplesheet.csv` to contain only the final two lines

[2022-08-31 19:24] lpantano commented on #175
thank you, trying to reproduce now and see how to fix it.

[2022-09-01 02:38] #178 closed

[2022-09-01 11:23] lpantano commented on #175
Hi,

for some reason I cannot reproduce. I did the following to speed up the test:

[code]

[code]

My nextflow version is: version 22.04.5 build 5708

This is the samples.csv:

[code]

config file:

[code]

I had to change the genome source because in my env I cannot use the genomes from nf-core S3 location, but that shouldn't change the behavior. Do you mind to try this (with the same nextflow v

[2022-09-01 19:14] BarryDigby commented on #175
Ok so the following ran to completion, identical to your setup detailed above:

[code]

[code]

***

Are we sure that the `--fasta` parameter is not differentiating factor here? I refer to my previous comment about the `modules.config` file.. perhaps iGenomes is doing something wonky (it wouldn't be the first time) :)

(My troubleshooting aside - out of curiosity why are the lines 182-185 repeated

[2022-09-01 20:24] lpantano commented on #175
After seeing that bit of code, maybe `fasta` is the difference. Not sure why is that there right now. But it seems to be the culprit at first sight...let us know, it is a good catch.

[2022-09-01 22:30] BarryDigby commented on #175
@lpantano the PR fixed this current issue, at least in my specific use case.

However.. the `mirtop` MultiQC module failed due to an empty file, I can investigate the error and open a new issue if you are interested - happy to help debug rare edge cases.

[2022-09-12 13:01] apeltzer opened #182 "Allow auto-detection of adapter sequences + subsequent trimming of these"
### Description of feature

We sometimes (with older and also some public data) experience that the adapter sequences are either not 100% correct or not annotated at all - enabling the possibility for performing detection of adapter sequences would be a great feature to have in such cases. Trimgalore in general can do this, however would require setting adapters to nothing / not specifying the ada

[2022-09-12 13:02] apeltzer commented on #137
MultiQC 1.13 is released, as such this should be fixable by upgrading to the MQC 1.13 module

[2022-09-12 13:02] #137 closed

[2022-09-16 14:23] luissian opened #187 "Error in plotMDS (edgeR_miRBase.r)"
### Description of the bug

When script is checking condition to make the MDS plot, it is checking about the number of sample.

[code]
This works in many cases but I have a situation where the length is 3 but when dataNorm is set
[code]
I get that there are only 2 columns.
I need to figure out what is wrong with the sample, but however checking should be done on the numbers of columns on **dataNor

[2022-10-10 15:45] robsyme opened #191 "Per-sample adapter sequence definition"
### Description of feature

At the moment, we auto-detect adapter sequence in each sample independently. This allows us to accomodate runs that are a mixture of different adapters.

If we know the adapter sequence ahead of time, we can only specify a single adapter sequence that is uniformly applied to all samples. It would be nice to be able to (optionally) supply adapter sequences on a per-sampl

[2022-10-11 08:00] apeltzer commented on #172
Fixed in `dev`

[2022-10-11 08:00] #172 closed

[2022-10-11 08:00] apeltzer commented on #168
Fixed in dev

[2022-10-11 08:00] #168 closed

[2022-10-11 08:01] apeltzer commented on #130
There is work on the differentialabundance pipeline now starting which will support output from smrnaseq too - so people can just use a second pipeline to run DGE analysis.

[2022-10-11 08:01] #130 closed

[2022-10-11 08:01] #124 closed

[2022-10-11 08:02] apeltzer commented on #115
Going to close this - I think the issue is not there so all good hopefully :)

[2022-10-11 08:02] #115 closed

[2022-10-11 08:04] apeltzer commented on #31
Goign to close this as the issue is very likely not there anymore in the current dev and soon release - please retest again 👍🏻

[2022-10-11 08:04] #31 closed

[2022-10-11 08:55] #182 closed

[2022-10-11 16:09] apeltzer opened #194 "[FEAT] Add default adapters for known miRNA sequences in fastp"
### Description of the bug

FastP can check adapter sequences fairly easily against a set of known ones, this helps the auto-detection to find these more appropriately. We also opened an issue at fastp https://github.com/OpenGene/fastp to get these added to Fastp itself but would like to offer an option to have a set of pre-defined miRNA adapters already at hand. Users can also choose to overwrite

[2022-10-13 14:32] apeltzer opened #196 "mirTrace Adapter"
### Description of the bug

Looks like the adapter sequence found by fastp isn't ending up correctly in mirtrace, e.g. the mirtrace.json says this:

![image](https://user-images.githubusercontent.com/2359510/195624992-46641710-035b-4aaa-9e84-aafd1a7747f5.png)

While it should say this:

[code]

Maybe something weird is happening here - should we add " " around the adapter sequence maybe?
Also addi

[2022-10-13 14:50] bounlu commented on #196
That's OK. `miRTrace` shortens the adapter to 8 characters. Since anything after that is also trimmed away from the 3' end of the reads, the result is the same.

[2022-10-13 15:14] apeltzer commented on #196
Ok - thanks @bounlu

[2022-10-27 09:36] apeltzer opened #201 "Issue with known adapters"
### Description of the bug

Error executing process > 'NFCORE_SMRNASEQ:SMRNASEQ:FASTQC_FASTP:FASTP (sample2)'

Caused by:
  Essential container in task exited

Command executed:

  [ ! -f  sample2.fastq.gz ] && ln -sf sample_2.fastq.gz sample2.fastq.gz

  fastp \
      --stdout \
      --in1 sample2.fastq.gz \
      --out1  sample2.fastp.fastq.gz \
      --thread 2 \
      --json sample2.fastp.jso

[2022-10-27 12:22] #194 closed

[2022-11-14 14:56] dksenthil opened #203 "mirdeep2 output missing!"
### Description of the bug

smrnaseq version 2.1.0  doesn’t produce mirdeep2 folder or its outputs in deafult runs. Is the  -`-skip_mirdeep` set to TRUE by default ?

### Command used and terminal output

_No response_

### Relevant files

_No response_

### System information

_No response_

[2022-11-19 18:02] dksenthil commented on #203
The issue is resolved. When you don't provide `--genome GRCh38`. mirdeep2 doesn't run by default.

[2022-11-19 18:02] #203 closed

[2022-11-24 13:29] suburbianmantia opened #204 ""XXX.fastp.fastq.gz" does not exist or is not a Bowtie 2 index""
Hi there!

I am trying to run the smrnaseq pipeline with the following command :

[code]

I think there is an issue with the fasta files I am using since it always fails with a contaminant fasta files that I downloaded from ensembl.

The full error message is :

[code]

Also, the bowtie.log files states :

[code]

but with the following files in the directory :
ADULT_3_P2.fastp.fastq.gz  fasta_bid